$cardcolor: red;
$cardcolor-dark: brown;

.bannerDisplay {
  width: 100%;
  max-width: 2500px;
  height: auto;
  // padding: 0px 0px 0px 0px !important;
  // background: mat.get-color-from-palette($color-card-config, 'lighter');
  // --mdc-dialog-container-color: mat.get-color-from-palette($color-card-config, 'lighter');
  --mdc-elevated-card-container-color: transparent !important;
  --mdc-outlined-card-container-color: transparent !important;
  // --mdc-dialog-supporting-text-color: black !important;
  // color: mat.get-color-from-palette($color-card-config, 'darker-contrast');
  // color: mat.get-color-from-palette($primary-card-palette, 'darker');
  // background-color: transparent !important;
  // padding: 0px 0px 0px 0px !important;
  // overflow: hidden !important;
}


.cardDisplay-Accent {
  width: 100%;
  max-width: 2500px;
  height: auto;
  // padding: 0px 0px 0px 0px !important;
  // background: mat.get-color-from-palette($color-card-config, 'lighter');
  // --mdc-dialog-container-color: mat.get-color-from-palette($color-card-config, 'lighter');
  --mdc-elevated-card-container-color: var($cardcolor) !important;
  --mdc-outlined-card-container-color: transparent !important;
  // --mdc-dialog-supporting-text-color: black !important;
  // color: mat.get-color-from-palette($color-card-config, 'darker-contrast');
  // color: mat.get-color-from-palette($primary-card-palette, 'darker');
  // background-color: transparent !important;
  // padding: 0px 0px 0px 0px !important;
  // overflow: hidden !important;
}

.cardDisplay-Primary {
  width: 100%;
  max-width: 2500px;
  height: auto;
  // padding: 0px 0px 0px 0px !important;
  // background: mat.get-color-from-palette($color-card-config, 'lighter');
  // --mdc-dialog-container-color: mat.get-color-from-palette($color-card-config, 'lighter');
  // --mdc-elevated-card-container-color: mat.get-color-from-palette($primary-card-palette, 'default') !important;
  --mdc-elevated-card-container-color: var($cardcolor) !important;
  --mdc-outlined-card-container-color: transparent !important;
  // --mdc-dialog-supporting-text-color: black !important;
  // color: mat.get-color-from-palette($color-card-config, 'darker-contrast');
  // color: mat.get-color-from-palette($primary-card-palette, 'darker');
  // background-color: transparent !important;
  // padding: 0px 0px 0px 0px !important;
  // overflow: hidden !important;
}