// global
@import "../variable.scss";

* {
  outline: none;
  box-sizing: border-box;
}

// body {
//   font-family: $bodyfont;
//   margin: 0;
//   // overflow-x: hidden;
//   overflow: hidden;
//   color: $bodytext;
//   font-weight: 100;
//   // background: $inverse;
//   min-height: 100%;
//   flex: 1;
// }

// footer {
//   font-family: $footerfont;
//   // margin: 0;
//   // overflow-x: hidden;
//   // overflow: hidden;
//   color: $footertext;
//   font-weight: 300;
//   // background: $inverse;
//   // min-height: 100%;
//   // flex: 1;
// }

// html {
//   position: relative;
//   min-height: 100%;
//   display: flex;
//   background: $white;
//   flex: 1;
// }

// styles.scss or theme SCSS
// body, .mat-typography {
//   font-size: 12px;
// }

// .mat-form-field {
//   font-size: 12px;

//   .mat-form-field-infix {
//     padding: 0.3em 0.5em;
//   }
// }

// .mat-button, .mat-raised-button, .mat-icon-button {
//   min-height: 28px;
//   font-size: 12px;
//   padding: 0 8px;
// }

// .mat-tab-label {
//   font-size: 12px;
//   padding: 0 8px;
// }

// table.mat-table {
//   font-size: 12px;

//   th, td {
//     padding: 6px 10px;
//   }
// }



.main-container {
  display: flex;
  flex-direction: column;
  // min-height: 100%;
  min-height: 100vh;
  overflow-y: hidden;
  // position: absolute;
  // top: 0;
  // bottom: 0;
  // left: 0;
  // right: 0;
}

.sub-container {
  display: flex;
  flex-direction: column;
  min-width: 65vw;
  max-width: 65vw;
}
// .mat-menu-panel {
//   padding: 0;
// }

// .mat-menu-item {
//   white-space: nowrap;
// }

// .mat-drawer-container {
//   background: $bodycolor;
// }

 html .page-wrapper {
  flex: 1;
  overflow: hidden;
  // height: calc(100vh - 64px);
  // position: relative;
  // padding-top: 64px;    /* height of mat-toolbar */
  // padding-bottom: 60px; /* height of your footer */
  // min-height: 100%;    /* to fill screen height */
  // box-sizing: border-box; /* ensure padding doesn't cause overflow */
  // display: flex;
  // flex-direction: column;
  .page-content {
    // top:70px;
    // padding: 30px 15px;
    // position: absolute;
    // box-sizing: border-box; /* ensure padding doesn't cause overflow */
    // margin: 64px 1.5% 24px 1.5%;
    // padding-top: 64px;
    max-width: 2500px;
    padding: 16px; /* padding inside the content area */
    // margin: 0 auto;
    // flex-grow: 1; // Ensures it grows to fill vertical space
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
}

.table-container {
  display: flex;
  flex-direction: column;
  // padding-top: 64px;
  height: 100%;
  overflow: hidden;
}

.table-header {
  flex-shrink: 0;
  // padding-top: 64px;
  padding: 16px;
  position: sticky;
  // top: 64px;
  // background: yellow !important;
  // background: #fff;
  // z-index: 1;
  z-index: 2;
  // border-bottom: 1px solid #ccc;
}

.table-body {
  // background: lightblue !important;
  flex: 1;
  overflow-y: auto;
  padding: 16px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 0.5rem;
  border: 1px solid #ccc;
}

mat-paginator {
  align-self: flex-end;
}

a:hover,
a:focus,
a {
  text-decoration: none;
}

a.link {
  // color: $headingtext;
  color: $bodycolor;
  text-decoration: none;

  &:hover,
  &:focus {
    // color: $themecolor;
    color: $themecolor-alt;
  }
}

.img-responsive {
  width: 100%;
  height: auto;
  display: inline-block;
}

hr {
  border: 0px;
  height: 1px;
  width: 100%;
  background: $border;
}

html body .mdi:before,
html body .mdi-set {
  line-height: initial;
}

code {
  padding: 0.2rem 0.4rem;
  font-size: 90%;
  color: $danger;
  background-color: $light-danger;
  border-radius: 0.25rem;
}

.box {
  border-radius: $radius;
  padding: 10px;
}

.list-inline {
  margin-left: 0px;
  padding: 0px;

  li {
    display: inline-block;
    list-style: none;
    margin-right: 10px;

    &:last-child {
      margin-right: 0px;
    }
  }
}

.button-row button {
  margin-bottom: 5px;
  margin-right: 5px;
  // color: $white;
}
.mat-mdc-fab.mat-accent, .mat-mdc-mini-fab.mat-accent{
  color: $white;
}
.mat-mdc-tab-header{
  border-bottom: 1px solid $border;
}

html body {
  .position-relative {
    position: relative;
  }

  // list
  .clear {
    clear: both;
  }

  ol li {
    margin: 5px 0;
  }

  // display
  .dl {
    display: inline-block;
  }

  .db {
    display: block;
  }

  .jc-c {

    justify-content: center;
  }

  //   opacity
  .op-5 {
    opacity: 0.5;
  }

  .op-3 {
    opacity: 0.3;
  }

  .rounded {
    border-radius: $radius;
  }

  //   flex
  .ml-auto {
    margin-left: auto;
  }

  .d-flex {
    display: flex;
  }

  .align-items-center {
    align-items: center;
  }

  .no-shrink {
    flex-shrink: 0;
  }

  .oh {
    overflow: hidden;
  }

  .hide {
    display: none;
  }

  .img-circle {
    border-radius: 100%;
  }

  .radius {
    border-radius: $radius;
  }

  .no-shadow {
    box-shadow: none;
  }

  //   align vertical
  .vt {
    vertical-align: top;
  }

  .vm {
    vertical-align: middle;
  }

  .vb {
    vertical-align: bottom;
  }

  //   horizontal align
  .text-center {
    text-align: center;
  }

  .text-right {
    text-align: right;
  }

  .text-left {
    text-align: left;
  }

  //   border
  .b-0 {
    border: none;
  }

  .b-r {
    border-right: 1px solid $border;
  }

  .b-l {
    border-left: 1px solid $border;
  }

  .b-b {
    border-bottom: 1px solid $border;
  }

  .b-t {
    border-top: 1px solid $border;
  }

  .b-all {
    border: 1px solid $border;
  }
}

.mat-mdc-form-field {
  width: 100%;
}

.mdc-button .mdc-button__label {
  letter-spacing: normal;
  font-weight: 400;
}



.full-width { width: 100%; }