<div class="main-container b-all">
    <mat-sidenav-container class="displaycenter b-all">
        <mat-sidenav-content class="page-wrapper b-all h-100 displaycenteralignwithoutwidthheight">
            <div class="main-container displaycenteralignwithoutwidthheight">
                <h2>System Error</h2>
                <p>Please contact system administrator. Please press below button to go back to main page.</p>
                <button mat-raised-button color="primary" (click)="navigateBack()">
                    <mat-icon>{{ maticon.Back }}</mat-icon>
                    Back
                </button>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>