.imageViewer{
    position: fixed;
    // display: flex;
    // object-fit: contain;
}

.corssIcon{
    position: static;
    top: 40px;
    right: -20px;
    cursor: pointer;
}

._img{
    width: 225px;
    height: 225px;
    object-fit: contain;
}