<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<!-- <app-spinner *ngIf="(loadingSpinner$ | async) || navigationSpinner"></app-spinner> -->
<!-- <div  id="content-scroller"><router-outlet><app-spinner *ngIf="(loadingSpinner$ | async) || navigationSpinner"></app-spinner></router-outlet></div> -->
<app-spinner></app-spinner>
<!-- <router-outlet /> -->
<div  id="content-scroller"><router-outlet /></div>
