<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<!-- <app-spinner *ngIf="(loadingSpinner$ | async) || navigationSpinner"></app-spinner> -->
<!-- <div  id="content-scroller"><router-outlet><app-spinner *ngIf="(loadingSpinner$ | async) || navigationSpinner"></app-spinner></router-outlet></div> -->
<!-- <mat-sidenav-container class="displaycenter">
    <mat-sidenav-content class="page-wrapper displaycenter"> -->

<app-spinner></app-spinner>
<!-- </mat-sidenav-content></mat-sidenav-container> -->
<!-- <router-outlet /> -->
<div id="content-scroller" class="jc-c"><router-outlet /></div>
