@use "sass:map";
// @use "@angular/material/core" as mat-core;
@use "@angular/material" as mat;
@use "./dialog/default-dialog.scss" as dialog;
@use "./card/dafault-card.scss" as card;
@use "./footer/footer.scss" as footer;


@include mat.core();
// @use "../components";

// $my-app-dark-primary: mat.define-palette(mat.$blue-grey-palette);
// $my-app-dark-accent: mat.define-palette(mat.$amber-palette, A200, A100, A400);
// $my-app-dark-warn: mat.define-palette(mat.$deep-orange-palette);

@function mat-set-background($theme, $backgroundColor) {
  $palette-color : map.get($theme, 'color');
  $background: map.get($palette-color, 'background');
  $background: map.merge($background, ('background': $backgroundColor));
  $palette-color: map.merge($palette-color, ('background': $background));
  @return map.merge($theme, ('color': $palette-color));
}

$my-app-dark-primary: mat.m2-define-palette(mat.$m2-orange-palette);
$my-app-dark-accent: mat.m2-define-palette(mat.$m2-brown-palette, A200, A100, A400);
$my-app-dark-warn: mat.m2-define-palette(mat.$m2-red-palette);
// $my-app-dark-background: mat.define-palette(mat.$indigo-palette);
$my-app-dark-background: mat.m2-define-palette(mat.$m2-red-palette);

$my-app-dark-theme: mat.m2-define-dark-theme(
  (
    color: (
      primary: $my-app-dark-primary,
      accent: $my-app-dark-accent,
      warn: $my-app-dark-warn,
    ),
  )
);
$my-app-dark-theme: mat-set-background($my-app-dark-theme, #2fb228);
// $backgroundColor: red;
// $color: map.get($my-app-dark-theme, "color");
// $colorBackground: map.get($color, "background");
// $colorBackground: map.set($colorBackground, "background",
// $backgroundColor);
// $color: map.set($color, "background", $colorBackground);
// $my-app-dark-theme: map.set($my-app-dark-theme, "color", $color);



.dark-theme1 {
  // @include mat.core-color($my-app-dark-theme);

  @include mat.all-component-themes($my-app-dark-theme);
  @include card.theme($my-app-dark-theme);
  @include dialog.theme($my-app-dark-theme);
  @include footer.theme($my-app-dark-theme);
  // background: mat.get-color-from-palette($my-app-dark-background, 'lighter');
  // @include mat.core-theme($my-app-dark-theme);
  // @include mat.button-color($my-app-dark-theme);
}
