<h2 mat-dialog-title>
  {{ isDeleteMode ? 'Remove Roles from ' + data.username : 'Assign Roles to ' + data.username }}
</h2>

<mat-dialog-content class="mat-typography">
  <div *ngIf="availableRoles.length > 0; else noRolesTemplate">
    <mat-selection-list [multiple]="true">
      <mat-list-option *ngFor="let role of availableRoles" [selected]="isSelected(role)" (click)="toggleRole(role)">
        {{ role.name }}
      </mat-list-option>
    </mat-selection-list>
  </div>

  <ng-template #noRolesTemplate>
    <p class="text-muted">
      {{ isDeleteMode ? 'This user has no roles to remove.' : 'All roles are already assigned to this user.' }}
    </p>
  </ng-template>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="cancel()">Cancel</button>
  <button mat-raised-button color="primary" (click)="confirm()">
    {{ isDeleteMode ? 'Remove Selected' : 'Assign Selected' }}
  </button>
</mat-dialog-actions>