
<!-- ============================================================== -->
<!-- Profile - style you can find in header.scss -->
<!-- ============================================================== -->
<button [matMenuTriggerFor]="profile" mat-icon-button class="m-r-5 d-flex jc-c align-items-center"> <img src="assets/images/users/1.jpg" alt="user" class="profile-pic"> </button>
<mat-menu #profile="matMenu" class="mymegamenu">    
    <app-nestedmenu [menuItems]="menuItems"></app-nestedmenu>
</mat-menu>

<button mat-icon-button (click) = "onClickSignOut()">
    <mat-icon>exit_to_app</mat-icon> 
</button>

